<div class="inicio-section">
    <div class="inicio-bloque">
        <img src="https://mcd-landings-q-static.appmcdonalds.com/uploads-quality/48px_86952f326f.svg" alt="Logo McDonald's" />
        <div class="texto">
            <h2>Bienvenido a McDonald's</h2>
            <p>
                Desde hamburguesas icónicas hasta papas crujientes, en McDonald's servimos momentos deliciosos todos los
                días. Descubre nuestros menús especiales, promociones y las sorpresas que tenemos para ti.
            </p>
        </div>
    </div>

    <div class="inicio-grid">
        <div class="card">
            <img src="https://tse4.mm.bing.net/th/id/OIP.fJoz8G2tSk_vnWjP35H1EwHaFk?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Hamburguesa" />
            <h3>La Big Mac</h3>
            <p>La clásica entre las clásicas. Doble carne, salsa especial, y mucho sabor.</p>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.ydDmGOzrfUjtZVYs6_xQiAHaE8?r=0&w=654&h=437&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Papas" />
            <h3>Papas Fritas</h3>
            <p>Las papas más famosas del mundo, doradas y crujientes como te gustan.</p>
        </div>
        <div class="card">
            <img src="https://tse2.mm.bing.net/th/id/OIP.gUfFPDr4VFRqHm8SsCDjywHaF7?r=0&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Helado" />
            <h3>Postres</h3>
            <p>Desde conos hasta McFlurrys, tu momento dulce está aquí.</p>
        </div>
    </div>
</div>