<div class="container">

    <div class="slide">
        <div class="item" style="background-image: url(img1.jpg);">
            <div class="content">
                <div class="name">Bienvenido</div>
                <div class="des">Bienvenido</div>
                <button>see more</button>
            </div>
        </div>
        <div class="item" style="background-image: url(img2.jpg);">
            <div class="content">
                <div class="name">Bienvenido</div>
                <div class="des">Bienvenido</div>
                <button>see more</button>
            </div>
        </div>
    </div>