.carrusel-container {
  display: flex;
  width: 99vw;       /* todo el ancho de la pantalla */
  height: 60vh;
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin: 0;          /* sin márgenes extras */
  padding: 0;         /* sin padding que cause overflow */
  box-sizing: border-box; /* para que padding y borde se sumen dentro del width */
}


.main-image {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 0.7s ease-in-out, transform 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoomIn 7s ease-in-out infinite;
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  max-width: 500px;
  animation: fadeInUp 1s ease-out;
  animation-fill-mode: both;

  position: absolute;
  top: 160px;

  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.left-position {
  left: 300px;
  transform: none;
}

.right-position {
  right: 300px;
  left: auto;
  transform: none;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: slideInLeft 0.8s ease-out;
}

.center-text {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.des {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: slideInLeft 1s ease-out;
}

button {
  display: block;
  margin: 15px auto 0 auto;
  padding: 10px 15px;
  background-color: #f7ca05;
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffdd33;
}

/* Animaciones */

/* Animación del zoom constante */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Animación de desvanecimiento hacia arriba */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación de deslizamiento desde la izquierda */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
