<!-- Incluye la barra de navegación -->
<app-nav-bar></app-nav-bar>

<!-- Incluye la sección de imágenes (tarjetas de información) -->
<app-imagenes></app-imagenes>

<!-- Nueva Sección: Misión y Visión -->
<section class="mission-vision-section">
    <div class="section-header">
        <h2 class="section-title">Nuestra Misión y Visión</h2>
        <p class="intro-text">Un vistazo a los valores que nos impulsan a ser la marca que todos conocen y confían.</p>
    </div>

    <div class="mission-vision-container">
        <div class="mission" aria-label="Nuestra Misión">
            <h3>Misión</h3>
            <p>
                Proveer alimentos de calidad y sabor inigualable a precios accesibles para que todas las personas en el
                mundo
                puedan disfrutar de una experiencia única con nosotros, mientras buscamos ser una fuerza positiva para
                las
                comunidades que servimos.
            </p>
        </div>
        <div class="vision" aria-label="Nuestra Visión">
            <h3>Visión</h3>
            <p>
                Ser la cadena de restaurantes más reconocida por su calidad, innovación y compromiso con el bienestar de
                nuestros
                clientes, empleados y las comunidades que nos rodean. Nos esforzamos para ser una marca líder y
                responsable en el
                mundo.
            </p>
        </div>
    </div>
</section>

<!-- Incluye el pie de página -->
<app-footer></app-footer>
