<app-nav-bar></app-nav-bar>

<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-6xl bg-white rounded-2xl shadow-xl overflow-hidden flex flex-col md:flex-row">



        <!-- LADO DERECHO: FORMULARIO CON ESTILOS -->
        <div class="w-full md:w-1/2 pt-10 p-8">
            <div class="bg-yellow-100 rounded-xl border border-yellow-300 p-6 shadow-md space-y-5">
                <h1 class="text-3xl font-bold text-red-600 text-center">Editar Credenciales del empleado</h1>
                <p class="text-gray-700 text-center">Complete todos los campos para registrar un nuevo cliente.</p>

                <form [formGroup]="empleadoForm" (ngSubmit)="actualizarEmpleado()" class="space-y-4">

                    <!-- Nombre completo -->
                    <div>
                        <label for="nombreCompleto" class="block text-sm font-medium">Nombre completo</label>

                        <div class="input-card">
                            <input type="text" formControlName="nombreCompleto" name="nombreCompleto"
                                id="nombreCompleto" required placeholder="Ingrese el nombre completo"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>

                        @if (empleadoForm.get("nombreCompleto")?.invalid &&
                        empleadoForm.get("nombreCompleto")?.touched) {
                        <span class="text-red-500 text-sm mb-5">El nombre es obligatorio</span>
                        }

                    </div>



                    <!-- Cédula -->
                    <div>
                        <label for="cedula" class="block text-sm font-medium">Cédula</label>

                        <div class="input-card">
                            <input type="text" formControlName="cedula" name="cedula" id="cedula" required
                                placeholder="Ingrese la cédula" oninput="this.value = this.value.replace(/\D/g, '')"
                                maxlength="10" readonly
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>
                        @if (empleadoForm.get("cedula")?.invalid &&
                        empleadoForm.get("cedula")?.touched) {
                        <span class="text-red-500 text-sm mb-5">La cédula es obligatorio</span>
                        }

                    </div>



                    <!-- Dirección -->
                    <div>
                        <label for="direccion" class="block text-sm font-medium">Dirección</label>

                        <div class="input-card">
                            <input type="text" formControlName="direccion" name="direccion" id="direccion" required
                                placeholder="Ingrese la dirección"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>
                        @if (empleadoForm.get("direccion")?.invalid &&
                        empleadoForm.get("direccion")?.touched) {
                        <span class="text-red-500 text-sm mb-5">La dirección es obligatorio</span>
                        }

                    </div>




                    <!-- Teléfono -->
                    <div>
                        <label for="telefono" class="block text-sm font-medium">Número de contacto</label>

                        <div class="input-card">
                            <input type="text" formControlName="telefono" name="telefono"
                                oninput="this.value = this.value.replace(/\D/g, '')" maxlength="10" id="telefono"
                                placeholder="Ingrese el número de teléfono"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>

                        @if (empleadoForm.get("telefono")?.invalid &&
                        empleadoForm.get("telefono")?.touched) {
                        <span class="text-red-500 text-sm mb-5">El número de contacto es obligatorio</span>
                        }

                    </div>



                    <!-- Correo electrónico -->
                    <div>
                        <label for="correoElectronico" class="block text-sm font-medium">Correo electrónico</label>

                        <div class="input-card">
                            <input type="email" formControlName="correoElectronico" name="correoElectronico"
                                id="correoElectronico" placeholder="ejemplo@correo.com"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>
                        @if (empleadoForm.get("correoElectronico")?.invalid &&
                        empleadoForm.get("correoElectronico")?.touched) {
                        <span class="text-red-500 text-sm mb-5">El correo electrónico es obligatorio</span>
                        }


                    </div>




                    <!-- Contraseña -->
                    <div>
                        <label for="password" class="block text-sm font-medium">Contraseña</label>

                        <div class="input-card">
                            <input type="password" formControlName="password" name="password" id="password"
                                placeholder="contraseña"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>
                        @if (empleadoForm.get("password")?.invalid &&
                        empleadoForm.get("password")?.touched) {
                        <span class="text-red-600 text-sm mt-1 block">La contraseña es obligatoria y debe tener 6
                            letras como mínimo</span>
                        }


                    </div>


                    <!-- Fecha de nacimiento -->
                    <div>
                        <label for="fechaNacimiento" class="block text-sm font-medium">Fecha de nacimiento</label>

                        <div class="input-card">
                            <input type="date" formControlName="fechaNacimiento" name="fechaNacimiento"
                                id="fechaNacimiento"
                                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400" />
                        </div>
                        @if (empleadoForm.get("fechaNacimiento")?.invalid &&
                        empleadoForm.get("fechaNacimiento")?.touched) {
                        <span class="text-red-500 text-sm mb-5">La fecha de nacimiento es obligatorio</span>
                        }

                    </div>



                    <!-- Género -->
                    <div>
                        <label for="genero" class="block text-sm font-medium">Género</label>
                        <div class="input-card">
                            <select formControlName="genero" name="genero" id="genero"
                                class="w-full px-4  border border-gray-300 rounded-lg focus:ring-2 focus:ring-red-400">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        @if (empleadoForm.get("genero")?.invalid &&
                        empleadoForm.get("genero")?.touched) {
                        <span class="text-red-500 text-sm mb-5">Seleccionar un género es obligatorio</span>
                        }
                    </div>

                    <div class="text-center text-gray-500">
                        <p>*Recuerde realizar solo cambio necesarios</p>
                    </div>

                                        <input type="hidden" formControlName="rol" value="CLIENTE" />

                    <button type="submit"
                        class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg transition-transform transform hover:scale-105">
                        Actualizar datos del usuario
                    </button>
                </form>

            </div>
        </div>

        <!-- LADO IZQUIERDO: IMAGEN -->
        <div class="w-full md:w-1/2 h-96 md:h-auto">
            <img src="https://s7d1.scene7.com/is/image/mcdonalds/2PUB_join1in8_2336x1040:2-column-desktop?resmode=sharp2"
                alt="Imagen representativa" class="w-full h-full object-cover object-center" />
        </div>
    </div>
</div>

<app-footer></app-footer>